{{#each errors}}
    <div class="alert alert-danger col-6 mx-auto">{{text}}</div>
{{/each}}
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card card-body">
            <h2 class="text-center mb-3">Register Account</h2>
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="name">UserName</label>
                    <input type="text" class="form-control" id="name" name="username" aria-describedby="emailHelp"
                        placeholder="Enter Your Name Please!" value="{{username}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Enter Your Email!" value="{{email}}" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" id="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" value="{{confirmpassword}}" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>